
#search-widget{
width:80%;
}

#create-topic,#search-widget{
display:flex;
}

#search-widget:first-child{
  display:flex;
  width:100%;
}
.start-discussion{
    width: 170px;
    height: 40px;
    border-radius: 4px;
    background: #3366FF 0% 0% no-repeat padding-box;
    text-align: center;
    font: normal normal normal 16px/31px ABBvoice;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border: 0px;
}

.search-menu {
width:100%
}

.filter-content{
display:flex;
  width:100%;
}

.search-icon{
    position: absolute;
    top: 184px;
    z-index: 1;
    right: 322px;
}
